*{
    margin: 0;
    padding: 0;
}
.Welcome-image{
    background: url("../Images/backgrounds/h_img.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative; 
    }
    .about-us{
        text-align: center;
        width: 70%;
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .services{
        background: url("../Images/backgrounds/s_image.jpg");
        height: 50vh;
        width: 100vw;
        background-size: cover;
        position: relative;
    }
    .what-we-do{
        display: flex;
        flex-direction: column;
    }
    .what-we-do h2{
        text-align: center;
        margin-top: 30px;
    }
    .images{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    #overlay{
        height: 50vh;
        width: 100vw;
        padding-top: 150px;
        position: absolute;
        background: rgb(0, 0, 0.1, 0.5);
        color: whitesmoke;
        text-align: center;
        
    }

